.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */

/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #6b98b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.center-container {
  background-color: rgb(41, 54, 167);
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-heading {
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 20px;
  border: none;
  border-top: 2px solid #eee;
}

/* TodoInput.css */
.todo-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

.todo-input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #16b33b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  height: 40px;
}

.add-btn:hover {
  background-color: #218838;
}

/* TodoList.css */
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.todo-item-text {
  font-size: 1rem;
  color: #eee9e9;
}

.delete-btn {
  padding: 5px 10px;
  font-size: 0.8rem;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c82333;
}
